.font-druk {
    font-family: 'druk_cyr';
}

.font-druk-wide {
    font-family: 'druk_wide';
}

.font-size-xs {
    font-size: var(--f-size-11);
}

.font-size-s {
    font-size: var(--f-size-13);
}

.font-size-m {
    font-size: var(--f-size-16);
}

.font-size-l {
    font-size: var(--f-size-22);
}

.font-size-xl {
    font-size: var(--f-size-24);
}

.font-size-xxl {
    font-size: var(--f-size-32);
}

.font-size-3xl {
    font-size: var(--f-size-54);
}

.font-size-4xl {
    font-size: var(--f-size-73);
}

.font-white {
    color: var(--clr-white);
}

.font-green {
    color: var(--clr-green);
}

.font-blue {
    color: var(--clr-blue);
}

.font-gold {
    color: var(--clr-gold);
}

.no-wrap {
    white-space: nowrap;
    text-wrap-mode: nowrap;
}

.icon-no-fill {
    fill: none !important;
}

.icon-no-fill * {
    fill: none !important;
}



@media (max-width: 958px) {
    .xl-only {
        display: none !important;
    }
}

@media (max-width: 840px) {
    .l-only {
        display: none !important;
    }
}

@media (max-width: 600px) {
    .lm-only {
        display: none !important;
    }
}
