:root {    
    --clr-black: #000000;
    --clr-white: #fff;
    --clr-purple-dark: #5834a4;
    --clr-purple-light: #a66eff;
    --clr-pink: #f269af;
    --clr-green: #abec20;
    --clr-blue: #0267ff;
    --clr-orange: #f55e1d;
    
    --bg-primary-color: #fff;
    --bg-secondary-color: #fff;
    --bg-accent-color: var(--clr-purple-light);
    --bg-transparent-color: oklch(from var(--bg-primary-color) l c h / calc(alpha - 0.25));

    --f-size-11: 0.6875rem;
    --f-size-13: 0.8125rem;
    --f-size-16: 1rem;
    --f-size-22: 1.375rem;
    --f-size-24: 1.5rem;
    --f-size-54: 3.375rem;
    --f-size-73: 4.5625rem;
}